name: run-tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        php: [8.3, 8.2, 8.1]
        laravel: ["^11.0", "^10.0", "^9.38"]
        stability: [prefer-lowest, prefer-stable]
        include:
          - laravel: "^11.0"
            testbench: 9.*
          - laravel: "^10.0"
            testbench: 8.*
          - laravel: "^9.38"
            testbench: 7.*
        exclude:
          - laravel: "^11.0"
            php: 8.1

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer require 'illuminate/contracts=${{ matrix.laravel }}.0' --no-update
          composer update --prefer-dist --no-interaction --no-progress --${{ matrix.stability }}

      - name: Execute tests
        run: vendor/bin/pest
